* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: all .1s linear 0;
	-moz-transition: all .1s linear 0;
	transition: all .1s linear 0;
}

/* .container {
	background-color: green;
} */

html,
.body {
	background-image: url(https://cnet2.cbsistatic.com/img/-qvJVYfnJOTphXGOc2fzSNnwQPk=/1600x900/2018/06/07/78e06ce4-81e0-4b35-992f-6a2b3585b931/mojave-night.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

#myChart {
	height: 200px;
	width: 60%;
}

#main-row {
	overflow-y: scroll;
	max-height: 465px;
	min-width: 200px;
}

#card-size {
	min-width: 400px;
	background-color: #fadfad;
}

#calender {
	max-height: 80px;
	min-width: 120px;
	position: relative;
	margin: 1.5em;
	padding: 10px 20px;
	background: #f0c25b;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 5px;
	border: 1px solid #e8e8e8;
	margin-bottom: 20px;
	text-align: center;
}

#date-box {
	min-height: 2000px;
}
#date {
	margin-top: 14%;
	margin-left: 4%;
	font-size: 25px;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
}

.no-gutters {
	max-width: 450px;
	box-shadow: 10px 0 5px -2px #888;
}

.dot {
	height: 130px;
	width: 130px;
	margin-top: 5%;
	background: radial-gradient(#e66465, #9198e5);
	border-radius: 50%;
}

.circle-text {
	margin-top: 20%;
	font-family: 'Staatliches', cursive;
	font-size: 55px;
	font-weight: bold;
	color: #bbc4dd;
}

#insight-form {
	margin-top: 4%;
	margin-left: 3%;
	background: linear-gradient(#ee9ca7, #ffdde1);
	min-height: 100px;
}

.insight-text {
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: 5%;
}
